@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", sans-serif;
  }
  
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }
.lineMove{
   @apply w-28 mt-16 absolute bg-transparent border-none h-1 group-hover:bg-[#4353FF] group-hover:-translate-y-1 transform-gpu delay-100 duration-150 ease-in;
}

.options{
    @apply font-medium text-xl cursor-pointer hover:opacity-70 transition-opacity transform-gpu duration-75  ease-in
}





  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #AAAAAA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #231F1E;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */